/* In order to keep the 'look and feel' of your projects consistent,
   we keep all CSS for the three projects in a single file. Where
   possible, try to consolidate CSS that will apply to more than one
   of your pages. You can do this by using class names instead of id
   attributes wherever appropriate.
  */

h1 {
  font-size: 16px;
  padding-left: 5%;
}

p {
  font-size: 14px;
  padding-left: 5%;
}

img {
  width: 80vh;
}

/* We start with the spatial history assignment */

div#essay {
  float: left;
  padding-top: 5%;
}

div.markers {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* add any styling for the main div here */
div.container {
  margin-left: 2%;
  margin-right: 2%;
}

div#mapcontainer {
  font-family:Arial, sans-serif;
  font-size:11px;
  border:6px double #5E5C63;
  width: 80%;
  float: left;
}

/* you can change the size of the map here if you want you can even
   use percentages instead of pixels. In this example code let the
   width be set by the containing element, but constrain the height
*/
div#map_canvas {
  height: 75vh;                  /*80 % of the viewport height*/
}

/* this is the legend div. Can you make it into a right sidebar? you may
have to add some extra css to the mapcontainer div */
div#map_legend {
    width:20%;
    float: left;
    padding-left: 2%;
}

/* if you want, you can make the text in the legend less ugly by adding
extra css classes. Advisable! */
div#map_legend h1 {
  font-size: 1em;
  text-decoration: underline;
}

div#map_legend h3 {
  font-size: 0.75em;
}

div#map_legend p {
  font-size: 0.5em;
}

// make it obvious that the legend text is clickable
div.pointer {
    cursor:pointer
}

/*just for fun, we can style the buttons using classes
  button.rounded means "all buttons with the class of
  rounded".  button#hide meands "the button with the
  id of hide"
*/
button.markers.rounded {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:10px;
  border: 1px black solid;
  color: black;
}
button#blue {
  background: #b3e0ff;
}
button#red {
  background: #ffb3b3;
}

/* use these last three to style the text inside the
   infowindows.  They are pretty ugly at the moment,
   consider making them prettier.

*/

div#map_canvas h3 {
  font-size: 1em;
}

div.address  {

}

div.description {

}

div.gm-style-iw {
  max-width: 80%;
}

div.gm-style-iw img {
    max-width: 100% !important;
    padding-bottom: 5%;
}

div.gm-style-iw blockquote {
    font-family:cursive;
}


/* Here's some adidtional CSS for the oral history project.  */

/* AUDIO PLAYER */
#media {
  width: 100%;
  border: 4px solid black;
  padding-top: 32px;
  margin-bottom: 15px;
}

/* SIDEPANEL */
.sidepanel {
   float: left;
   padding-right: 15px;
}

#popcorn-container {
  width: 50vh;
  height: 50vh;
  border: 4px solid black;
}

#popcorn-container img {
  height: 49vh;
  width: 49vh;
}

#popcorn-container h1.explain {
  text-decoration: underline;
  font-family: cursive;
  font-size: 1.75em;
  padding-top: 2vh;
  padding-left: 2vh;
}

#popcorn-container p.explain {
  font-family: cursive;
  font-size: 1.25em;
  padding-top: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

#popcorn-container p.intro {
  font-family: cursive;
  font-size: 4em;
  font-style: italic;
  text-align: center;
  padding-top: 10vh;
  color: black;
}

#popcorn-container p.short {
  font-family: cursive;
  font-size: 4em;
  font-style: italic;
  text-align: center;
  padding-top: 6vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

#popcorn-container p.long {
  font-family: cursive;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  padding-top: 6vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
